<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            width: 100%;
        }
        #title{
            width: 90%;
        }
        #content{
            width: 90%;
            height: 500px;
        }
    </style>
</head>
<body>
<form th:action="@{/board/modify(id=${id})}" method="post">
    <h1>게시글 수정 폼</h1>
    <input
            id="title"
            name="title"
            type="text"
            placeholder="제목을 입력하세요"
    />
    <textarea
            id="content"
            name="content"
            type="text"
            placeholder="내용을 입력하세요"
    ></textarea>
    <button type="submit">수정</button>
</form>
</body>
</html>